<!-- Bootstrap core CSS --><!-- TODO: Make offline-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Fiesta UI CSS -->
<link href="/{{fiesta_ui_url}}/static/css/fiesta_ui.css" rel="stylesheet">
